.saturation {
  position: relative;
  width: 200px;
  height: 200px;
  background-color: red;
  margin-bottom: 20px;
}

.pointer {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid #000;
  background-color: transparent;
}

.dot {
  position: absolute;
  width: 1px;
  height: 1px;
  background-color: green;
}
